html, body, #DemoMap {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

#DemoMap {
    position: absolute;
    right: 0;
    width: 85%;
    float: right;
    transition: .8s ease;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    text-decoration: underline;
    padding-bottom: 30px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 0px 15px;
}

/* Left panel */

#left-sidebar {
    width: 15%;
    height: 100%;
    float: left;
    background-color: lightsteelblue;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: .8s ease;
    text-align: center;
}

button {
    cursor: pointer;
}


#desktop-tabs-container {
    background: none;
    z-index: 1;
    position: absolute;
    width: 15px;
    height: 100%;
    left: 0px;
}

#desktop-tabs-container button {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    height: 30px;
    left: 0px;
    border: 3px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color: rgb(168, 166, 166);
    font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    transition: left 1s ease;
}

#open-left-sidebar-button {
    top: 45%;
}

#desktop-tabs-container button:hover {
    color: black
}

#close-left-sidebar-button {
    position: absolute;
    background: none;
    border: none;
    right: 0px;
    font-size: 1.25em;
    font-weight: 900;
    color: gray;
}

#close-left-sidebar-button:hover {
    color: black;
}

/* Online resources pop-up ----------------------------------------------------*/

#online-resource-container {
    position: absolute;
    bottom: 30px;
    left: 15px;
    height: 371px;
    width: 294px;
    z-index: 1;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(168, 166, 166);
    font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    text-align: left;
    transition: left 1s ease;
}

#online-resource-container h4 {
    margin: 10px 0px 0px 15px;
    font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: black;
    border-bottom: 1px dashed black;
    width: 215px;
}
#online-resource-container li {
    color: black;
}

.phone-number {
    list-style-type: circle;
    font-weight: 600;

}

#online-resource-container a {
    color: white;
}

#online-resource-container a:hover {
    color: black;
    text-decoration: none;
}

#open-online-resources-button {
    top: 50%;
}

#close-online-resources-button {
    position: absolute;
    background: none;
    border: none;
    right: 0px;
    font-size: 1.25em;
    font-weight: 900;
    color: gray;
}

#close-online-resources-button:hover {
    color: black;
}

        /* Scrollbar */

        #left-sidebar::-webkit-scrollbar {
            width: 8px;
          }

          /* Track */
          #left-sidebar::-webkit-scrollbar-track {
            background: lightsteelblue;
          }

          /* Handle */
          #left-sidebar::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 10px;
            border: 2px solid lightsteelblue;
          }

          /* Handle active */
          #left-sidebar::-webkit-scrollbar-thumb:active {
            background-color: black; 
            cursor: pointer;
          }

          /* Handle on hover */
          #left-sidebar::-webkit-scrollbar-thumb:hover {
            background-color: black; 
            cursor: pointer;
          }

/* Search */

.esri-search {
    width: 275px;
}

/* Legend */

.esri-legend {
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(168, 166, 166);
}

.esri-legend .esri-widget__heading {
    color: white;
}

/* Footer */

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .6em;
    margin: 0px 15px;
    padding-top: 90px;
    padding-bottom: 10px;
    text-align: center;
}

/* MOBILE-------------------------------------------------------------------------------------- */

#mobile-information {
    display: none;
    width: 80%;
    height: 70%;
    top: 20%;
    left: 10%;
    position: absolute;
    background-color: lightsteelblue;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    border: 3px outset black;
    border-radius: 10px;
    transition: 1s ease;
}

#mobile-tabs-container {
    display: none;
    background: none;
    z-index: 1;
    position: absolute;
    width: 15px;
    height: 100%;
    right: 0px;
}

        #open-mobile-info-button, #open-legend-button {
            display: inline-block;
            position: fixed;
            transform: rotate(270deg);
            transform-origin: 100% 100%;
            border: 3px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: white;
            background-color: rgb(168, 166, 166);
            font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1em;
        }

        #open-mobile-info-button:hover, #open-legend-button:hover {
            color: black
        }
        
        #open-mobile-info-button {
            top: 45%;
            right: -30px;
            transition: right 1s ease;
        }
        
        #open-legend-button {
            top: 55%;
            right: 0px;
            transition: right 1s ease;
        }

#close-mobile-info-button {
    position: absolute;
    background: none;
    border: none;
    right: 0px;
    font-size: 1.25em;
    font-weight: 900;
    color: gray;
}

#close-mobile-info-button:hover {
    color: black
}

#close-legend-button {
    display: none;
    position: absolute;
    background: none;
    border: none;
    right: 5px;
    font-size: 1.25em;
    font-weight: 900;
    color: gray;
}

#close-legend-button:hover {
    color: black;
}

@media only screen and (max-width: 600px){
    #left-sidebar {width: 0%;}
    #open-left-sidebar-button {display: none;}
    #DemoMap {width: 100%; opacity: 40%;}
    #mobile-tabs-container {display: inline-block; transition: 1s ease;}
    .esri-legend {position: absolute; display: inline-block; right: -350px;}
    .esri-ui-corner .esri-expand .esri-widget--panel, .esri-ui-corner .esri-expand .esri-widget--panel-height-only, .esri-ui-corner .esri-component.esri-widget--panel, .esri-ui-corner .esri-component.esri-widget--panel-height-only {
        transition: right .8s ease;}
    #close-legend-button {display: inline-block;}
    #mobile-information {display: inline-block;}
    #desktop-tabs-container button {left: 30px;}
    #online-resource-container {left: -350px;}
}